<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article_Summarizer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">


</head>
<body>

	<div class="welcome ">
        <h1 style="color: rgb(6, 8, 8);">ARTICLE SUMMARIZER</h1>
	</div> 

    <div class="userinput">
        <h2>Enter  your Article below :</h2>
        <br><br>
        <form action='/predict' method="post">                    
            <div class="input">
                <textarea class='input-text' id="tutorial" name="content" rows="20" cols="70" ></textarea><br>
                <label for="sentences">Sentences</label>
                    <input type="number" name="sentences" id="sentences">               
                <button class="button" type="submit" >Summarize</button>
            </div>
                    
        </form>
    </div>

</body>
</html>